/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-clm-grey-light: rgba(0, 0, 0, 0.2);
    --clr-clm-grey-dark: rgba(0, 0, 0, 0.5);
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  /*
  =============== 
  Global Styles
  ===============
  */
  
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5;
    font-size: 0.875rem;
    background: #F5F5F5;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}
@media screen and (min-width: 990px) {
    h1 {
        font-size: 4rem;
        letter-spacing: 0.05em;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1.2;
    }
}

/*
    =============== 
    Mobile Styles
    ===============
*/
nav {
    background-color: white;
    color: black;
    padding: 0.7rem;
}

.navbar-wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 1rem 2rem;
}

.toggle-icon {
    height: 2rem;
    width: 3rem;
    color: grey;
    border: 1px solid var(--clr-clm-grey-light);
    border-radius: 10%;
    padding: 2px 2px;
    cursor: pointer;
}

.logo img {
    width: 100%;
}

.dropdown {
    flex-direction: column;
    max-height: 0px;
    transition: .5s all ease-in-out;
    overflow: hidden;
}

.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-center li {
    cursor: pointer;
}

.nav-links {
    text-align: center;
    width: 100%;
}

.link {
    list-style: none;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
}

li a:hover, li:hover {
    color: blue;
}

.sub-link {
    list-style: none;
    padding: 1rem;
    margin: 0 0.5rem;
    border: 1px solid var(--clr-clm-grey-dark);
    margin-top: 0.5rem;
    display: none;
    background: white;
}

.sub-link li {
    padding: 0.4rem 0.2rem;
    cursor: pointer;
}

.link span {
    display: flex;
    align-items: center;
}

.link a {
    text-decoration: none;
    color: black;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding-bottom: 1rem;
}

.login-btn {
    width: 8rem;
    height: 2rem;
    border: 1px solid var(--clr-clm-grey-dark);
    color: var(--clr-clm-grey-dark);
    background: white;
    font-size: 14px;
    cursor: pointer;
}

.login-btn:hover {
    color: black;
}

.show {
    display: block;
}

.list-arrow {
    transform: translate(5px, 2px)!important;
    display: inline-block;
}

.btn {
    width: 8rem;
    height: 2rem;
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.hero {
    background-image: url(./images/home/hero.jpg);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.51);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 45rem;
    position: relative;
    text-align: center;
    color: white;
    padding: 100px 5px 0;
}

.popular-category h2{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin: 1rem 0;
}

.popular-category-list li {
    display: inline-block;
    margin: 0 0.5rem;
    padding: 1px;
}

.popular-category li a {
    border: 1px solid #404040;
    color: #c1c1c1;
    font-weight: 200;
    padding: 4px 10px;
    font-size: 12px;
    text-transform: capitalize;
}

.popular-category-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 1rem;
    padding-inline-start: 40px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0 40px;
    text-align: center !important;
    line-height: 1.5;
}

.hero p {
    color: white;
    font-size: 17px;
    margin-bottom: 2rem;
}

.hero img {
    width: 100%;
    height: 100%;
}

.search-form {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 80px);
    background-color: white;
    padding: 40px 15px 25px 15px;
    border-radius: 3px;
    box-shadow: -1px 3px 6px rgb(0 0 0 / 12%);
}

.form-control{
    border-radius: 2px;
    height: 50px;
    color: #666;
    box-shadow: none;
    font-size: 15px;
    width: 100%;
    border: 1px solid #ced4da;
    overflow: visible;
    margin: 10px auto;
    padding: 0 10px;
}

.search-form button {
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 4px;
    color: #fff;
    background-color: #007bff;
    width: 100%;
    cursor: pointer;
    border: none;
}

.ad-section {
    margin: 100px 2rem;
    margin-bottom: 0;
    text-align: center;
}

.ad-section h2 {
    font-size: 30px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #333;
    font-weight: 600;
}

.ad-section p{
    margin-bottom: 1rem;
    color: #848484;
}

.slider-indicator {
    height: 5px;
    width: 40px;
    background-color: #5672f9;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}


.slider-indicator::before,
.slider-indicator::after {
    content: '';
    display: block;
    height: 2px;
    width: 127px;
    background-color: #e0e0e0;
}

.slider-indicator::before {
    transform: translateX(-100%);
}

.slider-indicator::after {
    transform: translateX(100%);
}

.slider {
    height: 35rem;
    position: relative;
    margin: auto;
    overflow: hidden;
    text-align: left;
}

.slide-content {
    padding: 20px;
    color: #777;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#name {
    font-weight: 700;
    font-size: 18px;
    color: black;
    margin: 0;
}

#description {
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0;
}

.slide {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 26rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    transition: .3s all linear;
    background-color: white;
}

.second, .last, .next {
    translate: calc(100% + 25px);
    opacity: 0;
}

.prev {
    translate: calc(-110%);
    opacity: 0;
}

.product-img {
    width: 100%;
    height: auto;
    max-height: 50%;
}

.category, .date {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    color: var(--clr-clm-grey-dark);
}

.checked {
    color: #5672f9;
}

.fa {
    padding: 2px;
    font-size: 18px;
}

.small-fa {
    font-size: 12px;
    color: #888;
    margin-right: 4px;
}

#rating {
    position: absolute;
    bottom: 20px;
}

.categories {
    text-align: center;
    background-color: white;
    padding: 100px 50px;
}

.categories h3 {
    font-size: 30px;
    letter-spacing: 0.05em;
    color: #333;
    font-weight: 600;
}

.categories p {
    font-size: 18px;
    line-height: 30px;
    color: #848484;
    font-weight: 400;
}

.single-category {
    height: 18rem;
    width: 100%;
    padding: 20px 25px;
    box-shadow: 0px 7px 16px 0px rgb(0 0 0 / 9%);
    border-radius: 3px;
    max-width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.single-category ul {
    text-align: left;
}

.single-category a {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    text-transform: capitalize;
    color: #777;
    font-size: 13px;
}

.single-category li {
    border-bottom: 1px solid #F4F7F9;
}

.single-category li:last-of-type {
    border-bottom: none;
}

.single-category a:hover {
    color: #777;
}

.item-name:hover {
    text-decoration: underline;
}

.category-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    justify-items: center;
}

.show-btn {
    display: none;
    margin: 20px auto;
    outline: 1px solid #5672f9;
    color: white;
    background-color: #5672f9;
    width: 90%;
}

.single-category-header {
    border-bottom: 3px solid #F4F7F9;
}

.single-category-header i {
    margin-right: 6px;
    color: #fff;
    font-size: 13px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 6px;
    border-radius: 40px;
}

.fa-desktop {
    background: #ccdb38;
    box-shadow: 0 0 0px 4px rgb(204 219 56 / 35%);
}

.fa-apple {
    background: #a676b8;
    box-shadow: 0 0 0px 4px rgb(166 118 184 / 35%);
}

.fa-home {
    background: #fe7e17;
    box-shadow: 0 0 0px 4px rgb(254 126 23 / 35%);
}

.fa-shopping-basket {
    background: #EC3A56;
    box-shadow: 0 0 0px 4px rgb(236 58 86 / 35%);
}

.fa-briefcase {
    background: #1DBFFF;
    box-shadow: 0 0 0px 4px rgb(29 191 255 / 35%);
}

.fa-car {
    background: #02d3a4;
    box-shadow: 0 0 0px 4px rgb(2 211 164 / 35%);
}

.fa-paw {
    background: #bc02d3;
    box-shadow: 0 0 0px 4px rgb(188 2 211 / 35%);
}

.fa-laptop {
    background: #025fd3;
    box-shadow: 0 0 0px 4px rgb(2 95 211 / 35%);
}

.call-to-action {
    padding: 70px;
    text-align: center;
    background-image: url(./images/call-to-action/cta-background.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.61);
    background-blend-mode: multiply;
}

.call-to-action h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
}

.listing-btn {
    padding: 15px;
    width: 10rem;
    font-size: 16px;
    margin: 20px 5px 0;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-color: #fff;
    border: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.call-to-action li {
    display: inline-block;
}

.call-to-action a {
    color: white;
}

.add-listing-btn {
    background-color: #5672f9;
    color: white;
}

.add-listing-btn:hover {
    background-color: #007bff;
}

.add-listing-btn:hover a, .browser-listing-btn:hover a {
    color: #fff;
}

.browser-listing-btn a {
    color: black;
}

.browser-listing-btn:hover {
    background-color: #5672f9;
}

.footer-top {
    padding: 70px 20px;
    background: #232425;
}

.footer-top h4 {
    color: white;
}

.footer-top li {
    padding: 5px 0;
    font-size: 14px;
}

.footer-top a {
    color: #797979;
    transition: .4s all ease-in-out;
}

.footer-top a:hover {
    text-decoration: underline;
    color: #007bff;
}

.info {
    margin-bottom: 20px;
}

.info p {
    color: #c7c7c7;
    line-height: 26px;
    font-size: 14px;
}

.info img {
    margin-bottom: 20px;
}

.footer-app-store {
    display: flex;
    flex-direction: column;
    padding: 18px 30px;
    background: #46484A;
    margin-bottom: 20px;
    color: white;
    max-height: 11rem;
}

.footer-app-store-bottom  {
    display: flex;
    justify-content: space-between;
}

.footer-app-store-top {
    display: grid;
    grid-template-columns: 30px auto;
    margin-bottom: 20px;
}

.footer-app-store-bottom {
    display: flex;
    max-width: 400px;
}

.footer-app-store-bottom img {
    max-width: 48%;
    height: auto;
}

.footer-app-store-top p {
    display: inline-block;
    margin-left: 20px;
    color: white;
    font-weight: 14px;
}

.footer-app-store-top img {
    width: 30px;
    height: 53px;
    display: inline-block;
}

.site, .admin {
    margin-bottom: 20px;
}

.footer-bottom {
    background-color: #363839;
    padding: 25px 3rem;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-bottom p {
    color: #c7c7c7;
}

.footer-bottom li {
    display: inline-block;
    padding: 0 10px;
}

.footer-bottom i {
    color: #848484;
    font-size: 14px;
}

.footer-bottom i:hover {
    color: white;
}

.contact-wrapper {
    padding: 7rem 2rem;
}

.contact-section {
    background-color: #fff;
}

.contact-header {
    display: flex;
    justify-content: center;
    padding: 25px 0px;
    background-color: #5672f9;
    color: #fff;
}

.contact h5 {
    font-size: 20px;
    color: #333;
}

.contact h2 {
    padding: 1rem 0;
    color: #333;
    line-height: 1.2;
}

.contact p {
    color: #888;
    padding: 1rem 0 4rem;
}

.contact-form .form-group {
    margin: 20px 0;
    display: flex;
}

.contact-form {
    width: 100%;
}

.contact-form .c-form-control {
    width: 100%;
    height: 50px;
    color: #666;
    border-radius: 2px;
    font-size: 15px;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    padding: 5px 10px;
    font-weight: 400 !important;
}

.contact-btn {
    margin-left: auto;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 4px;
    margin-top: 0.5rem!important;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: 1px solid transparent;
    text-transform: uppercase;
}

textarea {
    height: auto !important;
}

.about-header {
    display: flex;
    justify-content: center;
    padding: 25px 0px;
    background-color: #5672f9;
    color: #fff;
}

.about-main {
    padding: 0 2rem;

}

.about-team h2 {
    margin-bottom: 4rem;
    font-size: 25px;
}

.about-image-wrapper {
    margin-bottom: 40px;
}

.about-image-wrapper img {
    width: 100%;
    height: auto;
}

.about-section {
    background-color: #fff;
}

.about-intro {
    padding: 100px 0;
}

.about-intro p {
    color: #888;
    line-height: 30px;
    font-size: 14px;
    margin-bottom: 1rem;
}

.about-intro h3 {
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

.about-team {
    text-align: center;
    padding: 60px 0;
}

.team-members {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.profile {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
}

.profile h4 {
    font-size: 1.25rem;
    line-height: 1.2;
}

.profile p {
    color: #888;
    font-size: 14px;
}

.profile img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.profile-title {
    padding: 10px 0;
}

.feedback {
    text-align: center;
    padding: 1.5rem 0 !important;
    background-color: #f8f9fa!important;
    border-radius: 0.25rem;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.feedback i {
    font-size: 60px;
    color: #5672f9;
    display: block;
}

.feedback span {
    display: block !important;
    font-size: 24px;
    margin-bottom: 0.5rem 0 !important;
}

.feedback h5 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.about-section-review {
    background-color: #F5F5F5;
    padding: 100px 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.dashboard {
    padding: 3rem 1rem;
    background: #fff;
}

.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.dashboard-right-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dashboard-sections {
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 10%);
    border-radius: 2px;
}

.dashboard-sections ul {
    padding: 1.3rem 1.6rem;
}

.dashboard-sections li {
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #555;
    cursor: pointer;
}

.dashboard-sections li span {
    background: #F4F7F9;
    float: right;
    font-size: 10px;
    border-radius: 8px;
    padding: 3px 8px;
    color: #84919B;

}

.dashboard-sections .active {
    background: #5672f9;
    color: #fff;
}

.dashboard-sections li i {
    margin-right: 5px;
}

.user-info {
    text-align: center;
    padding: 30px;
    margin-bottom: 2rem;
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 10%);
    padding: 25px 30px 30px;
    border-radius: 2px;
}

.user-info img {
    width: 7rem;
    height: 7rem;
    border: 5px solid #F4F7F9;
    border-radius: 50%;
    object-fit: cover;
}

.user-info h5 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
}

.edit-btn {
    background: #5672f9;
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 14px;
}

.user-info p {
    color: #888;
    font-size: 14px;
    font-weight: 400;
}

.dashboard-left-panel {
    width: 100%;
}

.dashboard-right-panel {
    padding: 1.5rem 1rem;
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 10%);
    border-radius: 2px;
}

.empty-ads {
    font-size: 16px;
    font-weight: 600;
    color: #666;
    margin: 10px auto -10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dashboard-right-panel h3 {
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dedede;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

th {
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0.75rem 0.2rem;
    border-bottom: 2px solid #dedede;
    border-top: 1px solid #dedede;
    text-align: center;
}

td {
    padding: 2rem 0rem;
    border-top: 1px solid #dedede;
}

td img {
    width: 100%;
    height: auto;
}

.product-title {
    width: 40%;
}

.product-title strong {
    color: #666;
}

.product-title span, .product-title time{
    color: #848484;
}

.product-title div {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

.product-title h4 {
    font-size: 0.8rem;
}

.image-td {
    width: 20%;
}

.action {
    text-align: center;
}

.action-btn {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #363b4d;
    background-color: #f7f7f7;
}

.action li {
    display: inline-block;
    margin: 2px;
}

.product-category {
    text-transform: capitalize;
}

.action-btn:hover {
    color: inherit;
}

span.active, 
span.pending, 
span.rejected {
    text-transform: capitalize;
}

span.active {
    color: rgb(4, 199, 4);
}

.fa-eye-wrapper:hover {
    background-color: rgb(4, 199, 4);
    color: white;
}

span.pending{
    color: #007bff;
}

.fa-pencil-wrapper:hover{
    background-color: #007bff;
    color: white;
}

span.rejected, .fa-trash-wrapper:hover{
    color: #dc3545;
}

.fa-trash-wrapper:hover{
    background-color: #dc3545;
    color: white;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.125);
    padding: 2rem
}
.modal-wrapper {
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}

.yes-btn, .no-btn {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 5rem;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.yes-btn {
    background-color: #dc3545;
}

.no-btn {
    background-color: #363839;
}

.package {
    text-align: center;
    background: #F5F5F5;
    padding: 100px 0;

}

.package h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}

.package section {
    margin: 0 15px;
}

.package-detail {
    border: 1px solid red;
    padding: 3rem;
    margin-top: .5rem;
    border: 1px solid #dee2e6;
    background-color: #f8f9fa;
    transition: all linear 0.3s;
}

.package-detail i {
    font-size: 50px;
    padding-bottom: 25px;
    color: #5672f9;
}

.package-detail:hover {
    box-shadow: var(--light-shadow);
}

.package-content-top {
    border-bottom: 1px solid #dee2e6;
}

.package-content-top h3 {
    font-size: 25px;
}

.package-content-top h4 {
    font-size: 18px;
    padding: 0.75rem 0;
}

.package-detail ul li {
    padding: 0.75rem 0;
    font-size: 14px;
}

.buy-btn {
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 4px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    text-decoration: none;
}
/*
    =============== 
    Very Small SS Styles
    ===============
*/

@media (max-width: 320px){
    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo img {
        width: 80%;
        height: auto;
    }

    .nav-header {
        padding: 1rem 1rem;
        flex-direction: column;
    }

    .toggle-icon {
        width: 7%;
        height: 7%;
        padding: 0;
        border: none;
    }

    .ad-section h2, .categories h3 {
        font-size: 24px;
    }

    .footer-bottom {
        padding: 25px 0;
    }

    th {
        font-size: 0.5rem;
        padding: 0.75rem 0;
    }

    .product-title h4, .product-title div{
        font-size: 0.5rem;
    }

    td {
        font-size: 0.5rem;
        padding: 2rem 0;
    }

    .dashboard-sections li {
        font-size: 0.7rem;
    }
}



@media (max-width: 375px) {
    .popular-category-list li {
        margin-top: 0.2rem;
    }

    .category-list {
        grid-template-columns: 1fr;
    }

    .show-btn {
        display: block;
    }

    .call-to-action {
        padding-left: 10px;
        padding-right: 10px;
    }

    .listing-btn {
        width: 8rem;
        font-size: 14px;
        padding: 12px;
    }

    .footer-app-store-top {
        font-size: 13px;
    }

    .action-btn {
        height: 20px;
        width: 20px;
    }

    .action-btn i {
        font-size: 10px;
    }
}

@media (min-width: 580px) {
    .footer-top {
        padding: 4rem 5rem;
    }

    .footer-bottom {
        flex-direction: row;
        padding: 25px 5rem 0;
    }

    .footer-bottom ul {
        padding-right: 0;
    }

    .footer-bottom li {
        padding: 0 10px;
    }

    .contact-wrapper {
        padding: 7rem 6rem;
    }

    .team-members {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-section-review {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .dashboard {
        padding: 3rem 3rem;
    }
}

@media (min-width: 768px){
    .search-form {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr auto;
        gap: 10px;
        transform: translate(-50%, 50%);
    }

    .search-form button {
        width: auto;
    }

    .form-control {
        width: 100%;
    }

    .ad-section {
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .footer-top {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
            'x x x x x x x x y y y y'
            'a a a z z z z z z z z z';
    }

    .info {
        grid-area: x;
    }

    .site {
        grid-area: y;
    }

    .admin {
        grid-area: a;
    }
    
    .footer-app-store {
        grid-area: z;
    }

    .contact-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }

    .contact-wrapper {
        padding: 7rem 6rem;
    }

    .about-main {
        padding: 0 5rem;
    }

    .dashboard {
        padding: 3rem 7rem;
    }

    .product-title div {
        flex-direction: row;
    }

    .product-title strong {
        flex-basis: 30%;
    }

    .dashboard-right-panel {
        padding: 1.5rem 2rem;
    }

    .package section {
        display: flex;
        justify-content: space-around;
        margin: 0 50px;
    }

    .package-detail {
        width: 30%;
    }
}

@media (min-width: 479px) and (max-width: 990px){
    .slide {
        width: 48.5%;
    }

    .last, .next {
        translate: calc(200% + 50px);
    }

    .second {
        opacity: 1;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .hero {
        min-height: 40vh;
    }
}

@media (min-width: 912px) and (max-width: 990px){
    .hero-content h1 {
        font-size: 65px;
    }

    .hero-content p {
        font-size: 20px;
    }
}

/*
    =============== 
    Desktop Styles
    ===============
*/

@media (min-width: 990px){
    .navbar-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 2rem;
        padding-left: 0rem;
    }

    .toggle-icon {
        display: none;
    }

    .logo {
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        width: 100%;
        height: auto;
    }

    .nav-header {
        width: auto;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .nav-buttons {
        flex-direction: row;
        gap: 1rem;
        padding-bottom: 0;
    }

    .nav-center {
        flex-basis: 66.7%;
    }

    .hero {
        min-height: 75vh;
    }

    .dropdown {
        display: flex;
        max-height: auto !important;
        flex-direction: row;
        justify-content: space-between;
        flex-basis: 75%;
        overflow: visible;
        z-index: 2;
    }

    .link, span {
        display: inline-block;
        position: relative;
    }

    .sub-link {
        position: absolute;
        padding: 0;
        width: 12rem;
        transform: translateX(-50%);
        border: 1px solid var(--clr-clm-grey-light);
    }
    
    .next {
        translate: calc(300% + 75px);
    }

    .last {
        translate: calc(200% + 50px);
        opacity: 1;
    }

    .second{
        translate: calc(100% + 25px);
        opacity: 1;
    }

    .slide {
        width: calc(32% - 2px);
    }

    .category-list {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
    }

    .footer-top {
        grid-template-columns: repeat(12, 1fr) !important;
        grid-template-areas:'x x x x y y a a z z z z' !important;
    }

    .info {
        padding-right: 50px;
    }

    .footer-bottom ul {
        margin-right: 10rem;
    }

    .nm-flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .nm-flex .form-group {
        margin: 10px 0;
    }

    .contact h2 {
        font-size: 56px;
    }

    .about-intro {
        display: flex;
        gap: 30px;
    }

    .team-members {
        grid-template-columns: repeat(4, 1fr) !important;
    }

    .about-section-review {
        display: grid;
        grid-template-columns: repeat(4, 1fr) !important;
    }

    .dashboard-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .dashboard {
        padding: 3rem 5rem;
    }

    .dashboard-left-panel {
        flex-basis: 30%;
    }

    .dashboard-right-panel {
        flex-basis: 70%;
    }

    .modal-wrapper {
        padding: 3rem;
    }
}