/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-clm-grey-light: rgba(0, 0, 0, 0.2);
    --clr-clm-grey-dark: rgba(0, 0, 0, 0.5);
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  /*
  =============== 
  Global Styles
  ===============
  */
  
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    font-size: 0.875rem;
    background: var(--clr-grey-10);
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}
@media screen and (min-width: 990px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/*
    =============== 
    Mobile Styles
    ===============
*/
nav {
    background-color: white;
    color: black;
    padding: 0.7rem;
}

.navbar-wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 1rem 2rem;
}

.toggle-icon {
    height: 2rem;
    width: 3rem;
    color: grey;
    border: 1px solid var(--clr-clm-grey-light);
    border-radius: 10%;
    padding: 2px 2px;
    cursor: pointer;
}

.logo img {
    width: 100%;
}

.dropdown {
    flex-direction: column;
    max-height: 0px;
    transition: .5s all ease-in-out;
    overflow: hidden;
}

.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    text-align: center;
    width: 100%;
}

.link {
    list-style: none;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
}

li a:hover {
    color: blue;
}

.sub-link {
    list-style: none;
    padding: 1rem;
    margin: 0 0.5rem;
    border: 1px solid var(--clr-clm-grey-dark);
    margin-top: 0.5rem;
    display: none;
    background: white;
}

.sub-link li {
    padding: 0.4rem 0.2rem;
    cursor: pointer;
}

.link span {
    display: flex;
    align-items: center;
}

.link a {
    text-decoration: none;
    color: black;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding-bottom: 1rem;
}

.login-btn {
    width: 8rem;
    height: 2rem;
    border: 1px solid var(--clr-clm-grey-dark);
    color: var(--clr-clm-grey-dark);
    background: white;
    font-size: 14px;
    cursor: pointer;
}

.login-btn:hover {
    color: black;
}

.show {
    display: block;
}

.arrow {
    padding: 2px 3px;
}

.btn {
    width: 8rem;
    height: 2rem;
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.hero {
    background-image: url(./images/home/hero.jpg);
    background-color: rgba(0, 0, 0, 0.51);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 45rem;
    position: relative;
    text-align: center;
    color: white;
    padding: 100px 5px 0;
}

/* .overlay::before {
    content: '';
    background: rgba(0, 0, 0, 0.51);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */

.popular-category h2{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin: 1rem 0;
}

.popular-category-list li {
    display: inline-block;
    margin: 0 0.5rem;
    padding: 1px;
}

.popular-category li a {
    border: 1px solid #404040;
    color: #c1c1c1;
    font-weight: 200;
    padding: 4px 10px;
    font-size: 12px;
    text-transform: capitalize;
}

.popular-category-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 1rem;
    padding-inline-start: 40px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0 40px;
    text-align: center !important;
    line-height: 1.5;
}

.hero p {
    color: white;
    font-size: 17px;
    margin-bottom: 2rem;
}

.hero img {
    width: 100%;
    height: 100%;
}

.search-form {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 80px);
    background-color: white;
    padding: 40px 15px 25px 15px;
    border-radius: 3px;
    box-shadow: -1px 3px 6px rgb(0 0 0 / 12%);
}

.form-control{
    border-radius: 2px;
    height: 50px;
    color: #666;
    box-shadow: none;
    font-size: 15px;
    width: 100%;
    border: 1px solid #ced4da;
    overflow: visible;
    margin: 10px auto;
    padding: 0 10px;
}


.search-form button {
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 4px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 100%;
    cursor: pointer;
}

/*
    =============== 
    Desktop Styles
    ===============
*/

@media (min-width: 990px){
    .navbar-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 2rem;
        padding-left: 0rem;
    }

    .toggle-icon {
        display: none;
    }

    .logo {
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        width: 100%;
        height: auto;
    }

    .nav-header {
        width: auto;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .nav-buttons {
        flex-direction: row;
        gap: 1rem;
        padding-bottom: 0;
    }

    .nav-center {
        flex-basis: 66.7%;
    }

    .dropdown {
        display: flex;
        max-height: auto !important;
        flex-direction: row;
        justify-content: space-between;
        flex-basis: 75%;
        overflow: visible;
        z-index: 2;
    }

    .link {
        display: inline-block;
        position: relative;
    }

    .sub-link {
        position: absolute;
        padding: 0;
        width: 12rem;
        transform: translateX(-50%);
        border: 1px solid var(--clr-clm-grey-light);
    }

    .arrow {
        display: none;
    }

    .hero {
        min-height: 75vh;
    }
}

@media (min-width: 768px) {
    .search-form {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr auto;
        gap: 10px;
        transform: translate(-50%, 50%);
    }

    .search-form button {
        width: auto;
    }

    .form-control {
        width: 100%;
    }
}

/*
    =============== 
    Very Small SS Styles
    ===============
*/
@media (max-width: 320px){
    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo img {
        width: 80%;
        height: auto;
    }

    .nav-header {
        padding: 1rem 1rem;
        flex-direction: column;
    }

    .toggle-icon {
        width: 7%;
        height: 7%;
        padding: 0;
        border: none;
    }
}

